.navbar-default {
    background-color: white !important;
}

.navbar-header {
    height: 150px !important;    
}

.navbar-brand {
    padding: 0px 0px 0px 0px !important;
    width: 150px !important;
    height: 150px !important;
}

.navbar-toggle
{
    margin-top: 50px;
}

.menuLinkNavBar {
    font-weight: bold;
    color: black !important;
}

.socialMediaIconNavBar {
    margin-top: 45px;
}

.fa-instagram {
    font-size: 20px !important;
}

.fa-pinterest {
    font-size: 20px !important;
}

@media (max-width:768px) {
    .navbar-brand {
        margin-left: 20px !important;
    }

    .socialMediaIconNavBar {
        margin-top: 0px !important;
    }
}

@media (min-width:769px) {
    .socialMediaTextNavBar {
        display: none;
        margin-left: 10px !important;
    }
}
